.themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-left: 2.2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--white-color);
  opacity: 1;
  transition: .35s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--primary-color);
  }
}
