.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2.4rem;
  padding-bottom: 1.2rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid var(--border-color);
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
