@import "styles/utils/hover.scss";
@import "styles/base/typography.scss";
@import "styles/utils/breakpoints.scss";

.button {
  width: fit-content;
  margin: 0;
  padding: 0.8rem 1.2rem;
  border: 0;
  background: transparent;
  opacity: 1;
  transition: 0.35s var(--easeDefault);
  transition-property: color, background-color, outline, border-color, opacity;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  @include hover {
    opacity: 0.8;
  }
}

.contrast {
  border-color: var(--element-background);
  background-color: var(--text-contrast-color);
  color: var(--text-color);
}
.primary {
  background-color: var(--primary-color);
  color: var(--text-contrast-color);
}
.secondary {
  background-color: var(--element-background);
  color: var(--text-2-color);
}
.success {
  background-color: var(--success-color);
  color: var(--text-contrast-color);
}
.danger {
  background-color: var(--error-color);
  color: var(--text-contrast-color);
}
.warning {
  background-color: var(--warning-color);
  color: var(--text-contrast-color);
}
.outlined {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-2-color);
}
.pill {
  border-radius: 2.4rem;
}
.is-disabled {
  background-color: var(--disabled-color);
}
.brick {
  border-radius: 0.6rem;
}
.small {
  composes: text-ssm;
}
.medium {
  composes: text-md;
}
.large {
  composes: text-lg;
}
