:root {
  // regular font family
  -font-family-main: Consolas, 'Times New Roman', sans-serif;

  --height-header: 8rem;
  --height-mobile-header: 7.2rem;

  // Border radius
  --border-radius-default: 0.8rem;

  --element-radius: 2.4rem;

  // transition time
  --transition-default-duration: 0.3s;

  // Easing functions
  --ease-default: cubic-bezier(0.32, 0.94, 0.6, 1);
  --ease-outBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-inBack: cubic-bezier(0.36, 0, 0.66, -0.56);

  // z-indexes
  --modal-index: 10;

  // paddings
  --scrollbar-compensation: 1.4rem;
}
