nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: auto;

  a {
    color: currentColor;
    transition: color .35s ease-in-out;
    font-weight: 600;
    font-size: 2.2rem;

    &:hover,
    &.active {
      color: var(--primary-light);
    }
  }
}
