button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #ffff;
  cursor: pointer;
}
.accent {
  background-color: #008000;
}
.danger {
  background-color: #ff0000;
}
