nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  a {
    width: fit-content;
    color: var(--primary-light);
    font-weight: 600;
    font-size: 2.2rem;
    opacity: 1;
    transition: opacity .35s ease-in-out;

    &:hover,
    &.active {
      opacity: 0.7;
    }
  }
}
