:root {
  --primary: #D6322D;
  --primary-dark: #BD221D;
  --primary-light: #FAD0CF;
  --primary-blind: #E4EAFD;

  --app-background: #F3F3F4;
  --element-background: #FFFFFF;
  --element-background-fade: #E6E6E6;

  --text-color: #232424;
  --text-2-color: #858B94;
  --text-blind-color: #C0C6D1;
  --text-contrast-color: #FFFFFF;
}
