.header {
  display: flex;
  align-items: center;
  height: var(--height-header);
  padding: 1.2rem 3.2rem;
  border-bottom: 1px solid var(--border-color);
  column-gap: 1.8rem;
  background-color: var(--app-background);
}

.logo {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 35%;
  background-color: var(--primary);
}

.avatar {
  display: block;
  width: 4rem;
  height: 4rem;
  color: var(--primary-color);
}
