header {
  display: flex;
  align-items: center;
  padding: 1.2rem 3.2rem;
  height: 8rem;
  border-bottom: 1px solid var(--element-background-fade);
}

.logo {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 35%;
  background-color: var(--primary);
}

button {
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--primary-light);
  border-radius: 1.2rem;
  margin-left: 2.4rem;
  opacity: 1;
  transition: .35s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
