header {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
  padding: 1.2rem 3.2rem;
  height: var(--height-header);
  background-color: var(--app-background);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 35%;
  background-color: var(--primary);
}
.avatar {
  display: block;
  width: 4rem;
  height: 4rem;
  color: var(--primary-color);
}
